svg.daily-weather-graph {
    font-family: Arial, Helvetica, sans-serif;
}
svg.daily-weather-graph line,
svg.daily-weather-graph rect {
    shape-rendering: crispEdges;
}

.region-separator,
.vertical-separator,
.axis line, .axis path {
    stroke: #AAA;
    stroke-width: 1px;
}
.axis path {
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
}

.section-label,
.statistic-label {
    fill: #333;
    font-size: 12px;
}
.missing-label {
    fill: #777;
    font-size: 11px;
}

.graph-background {
    fill: rgb(245, 245, 245);
}
.plot-area-background {
    fill: none;
}
.wind-region-background,
.rain-region-background,
.temperature-region-background {
    fill: none;
}

.rain-bar {
    stroke-width: 1px;
}
.rain-label {
    font-size: 11px;
}

.wind-gust-label {
    fill: #FFFFFF;
    font-size: 11px;
}
.wind-direction-label {
    fill: #777777;
    font-size: 11px;
}

.temperature-low-path, .temperature-high-path {
    fill: none;
    stroke: #CCC;
    stroke-width: 1px;
}
.temperature-high-label, .temperature-low-label {
    font-size: 14px;
    font-weight: bold;
}
.temperature-low-label {
    fill: rgb(0, 50, 250);
}
.temperature-high-label {
    fill: rgb(250, 50, 0);
}
